<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite" parallel="methods" thread-count="3">
  <test verbose="4" name="Default test">
    <classes>
      <class name="ca.ubc.cs.beta.junit.SMACTester"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
